@charset "utf-8";
.menu img {
        float: left;
        margin-left: 10px;
        margin-top: 12px;
        height: 30px;
    }

    .logo {
        border: 1px solid #454444;
        width: 160px;
        height: 40px;
        margin: 6px;
        margin-left: 15px;
        float: left;
        background-color: #454444;
        margin-right: 25vw;
    }

    .logo p {
        text-align: center;
        color: white;
        margin: 7px;
        font-size: 18px;
    }

    .header {
/*        border: 1px solid gray;*/
        height: 55px;
        margin: 0px;
        background-color: #98857e;
    }

    .search {
/*        border: 1.5px solid darkgray;*/
        height: 25px;
        width: 300px;
        margin: 12px auto 0 auto;
        float: left;
    }

    .search img {
        float: right;
        margin: 5px;
        margin-right: 10px;
        width: 20px;
        height: 20px;
        /* border: 1px solid; */
    }

    .find {
        border: 1px solid #454444;
        width: 100px;
        height: 37px;
        float: left;
        margin-left: 25px;
        margin-top: 8px;
        background-color: #454444;
    }

    .find p {
        color: white;
        text-align: center;
        padding: none;
        margin-top: 7px;
        font-size: 18px;
    }

    .member img {
        float: right;
        margin-right: 15px;
        margin-top: 10px;
        width: 36px;
        height: 36px;
    }
    /*    增加部分    */

    a {
        color: black;
        text-decoration: none;
    }

    #member_data {
        height: 90px;
        width: 100px;
        border: 1px solid gray;
        border-top: 0px;
        float: right;
        background-color: white;
    }

    #member_data p {
        text-align: center;
        color: darkred;
    }

    #menu_data {
        height: 160px;
        width: 100px;
        border: 1px solid gray;
        border-top: 0px;
        float: left;
        position: fixed;
        background-color: white;
    }

    #menu_data p {
        color: darkred;
        text-align: left;
        margin-left: 30px;
    }

    #sort_2 p {
        text-align: center;
    }

    #question {
        border: 2px solid gray;
        width: 250px;
        height: 450px;
        background-color: aliceblue;
        text-align: center;
    }

    #question p {
        color: gray;
    }

    #input {
        border: 1.5px solid gray;
        height: 25px;
        width: 250px;
        margin: 0px;
        float: left;
    }
#signin{
    float: right;
}